:root {
  --clr-neutral-100 : #F4F4F5;
  --clr-neutral-200 : #E4E4E7;
  --clr-neutral-300 : #D4D4D8;
  --clr-neutral-400 : #A1A1AA;
  --clr-neutral-500 : #71717A;
  --clr-neutral-600 : #52525B;
  --clr-neutral-700 : #3F3F46;
  --clr-neutral-800 : #27272A;
  --clr-neutral-900 : #18181B;

  --clr-brand : #50AE40;

  --clr-red-500 : #EF4444;
  --clr-red-400 : #F87171;
  --clr-red-300 : #FCA5A5;

  --fw-regular   : 400;
  --fw-medium    : 500;
  --fw-bold      : 600;
  --fw-extrabold : 700;

  --fs-100 : .875rem;
  --fs-200 : 1rem;
  --fs-300 : 1.125rem;
  --fs-400 : 1.25rem;
  --fs-500 : 1.5rem;
  --fs-600 : 2rem;
  --fs-700 : 2.5rem;
  --fs-800 : 3rem;
  --fs-900 : 3.5rem;
}