@import './base.css';
@import './reset.css';
@import './sr-only.css';
@import './multiselect.css';

body {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-family: "Inter Variable", -apple-system, system-ui, sans-serif;
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  overflow-x: hidden;
}

@keyframes appearBlur {
  0% {
    display: none;
    opacity: 0;
    filter: blur(1.5rem) brightness(1.5);
  }

  1% {
    display: block;
  }

  100% {
    opacity: 1;
    filter: blur(0) brightness(1);
  }
}

@keyframes fadeInFull {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInHalf {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes scaleAppear {
  from {
    scale: 0;
    opacity: 0;
    filter: blur(1.5rem) brightness(2);
  }

  to {
    scale: 1;
    opacity: 1;
    filter: blur(0) brightness(1);
  }
}
