.multiselect {
  color: var(--clr-neutral-300) !important;
}

.multiselect__select::before {
  top: 80% !important;
}

.multiselect__tags,
.multiselect__single {
  background: var(--clr-neutral-700) !important;
}

.multiselect.elevated {

  .multiselect__tags,
  .multiselect__single,
  .multiselect__input {
    background: var(--clr-neutral-600) !important;
  }

  .multiselect__tags,
  .multiselect__content-wrapper {
    border: 1px solid var(--clr-neutral-500) !important;
  }
}

.multiselect__tags {
  border: 1px solid var(--clr-neutral-600) !important;
  padding: .75rem 2.5rem 0 1rem !important;
  border-radius: 1rem !important;
}

.multiselect__input {
  background-color: var(--clr-neutral-700) !important;
  caret-color: var(--clr-neutral-100) !important;
  color: var(--clr-neutral-100) !important;
  margin-bottom: .75rem !important;
  line-height: 1.4 !important;

  &::placeholder {
    color: white !important;
  }
}

.multiselect__option--selected {
  background: var(--clr-neutral-600) !important;
  color: white !important;
}

.multiselect__option--highlight {
  background: var(--clr-neutral-500) !important;
}

.multiselect__tag {
  background: var(--clr-neutral-500) !important;
}

.multiselect__tag-icon {
  &::after {
    color: var(--clr-neutral-600) !important;
  }
}

.multiselect__single {
  margin-bottom: .75rem !important;
  line-height: 1.4 !important;
}

.multiselect__placeholder {
  margin-bottom: .75rem !important;
}

.multiselect__content-wrapper {
  background: var(--clr-neutral-700) !important;
  border: 1px solid var(--clr-neutral-600) !important;
}
